// Colors from
// https://material.io/guidelines/style/color.html
$bg-50: 	#eceff1;
$bg-200: 	#b0bec5;
$bg-300: 	#90a4ae;
$bg-500:	#607d8b;
$bg-700: 	#455a64;
$bg-900: 	#263238;

@mixin user-select() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	background: $bg-900;
	color: $bg-50;
	font-family: 'Roboto', sans-serif;
	font-size: 2.5em;
	margin: 0;
	padding: 0;
	@include user-select();
}

footer .container {
	background-color: $bg-900;
	text-align: center;
	font-size: 1rem;
}

a {
	text-decoration: none;
	color: $bg-300;
	&:hover {
		color: $bg-200;
	}
}

#history {
	text-align: right;
	font-size: 1.5rem;
	background: lighten($bg-900, 10%);
	margin: 0 1%;
	cursor: default;
}

#display {
  text-align: right;
	background: lighten($bg-900, 15%);
  margin: 0.5%;
	padding: 1%;
	cursor: default;
}

.container {
	margin: 5% auto;
	max-width: 600px;
	padding: 10px;
  background: lighten($bg-900, 10%);
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: lighten($bg-900, 10%);
}

.square {
	flex-basis: 24%;
  line-height: 3em;
	background: $bg-500;
	margin: 0 0 5px 0;
  text-align: center;
	&:hover {
		cursor: pointer;
		background: lighten($bg-500, 10%);
	}
	&:active {
		background: lighten($bg-900, 10%);
	}
}
